.editor {
  padding: 15px;

  border: 1px solid #CFD8DC;
  border-radius: 4px;
  background-color: #FFF;

  grid-area: editor;
}

.editor:focus-within {
  background-color: #DEF0E7;
}

.editor__textarea {
  overflow: hidden;

  box-sizing: border-box;
  width: 100%;
  padding: 10px;

  resize: none;

  border: 1px solid #CFD8DC;
  border-radius: 4px;
  outline: none;
}
